@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@500&display=swap");
body {
  font-family: Anuphan;
  margin: 0 !important;
  padding: 0;
}

.h {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #336eda;
  align-items: center;
  font-family: Anuphan;
  text-align: center;
  padding: 15px;
  height:80px;
}

#header {
  font-family: Anuphan;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  position: relative;
}

#header button {
  border: none;
  color: black;
  font-size: 30px;
  padding: 0 10px;
}

#prevBtn {
  margin-left: 20px;
}

#nextBtn {
  margin-right: 20px;
}

#header button:hover {
  background-color: #e0e0e0;
}

#header h3 {
  margin: 10px;
}

.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.left-section {
  margin: 0 3%;
  width: 30%;
  overflow: hidden;
  align-self: flex-start;
}

.profile {
  display: flex;
  justify-content: left;
  font-size: 40px;
  margin-right: 10px;
}


.user-name {
  font-family: Anuphan;
  margin: 0;
  word-wrap: break-word;
}

.email-section {
  display: flex;
  justify-content: left;
  font-size: 30px;
  margin-right: 10px;
}

.email-section .fa-envelope {
  margin-top: 5px;
  margin-left: 10px;
}

.email {
  font-family: Anuphan;
  font-size: 24px;
  margin: 0;
  word-wrap: break-word;
}


.slots-info {
  display: flex;
  justify-content: left;
  font-size: 30px;
  margin-right: 10px; 
}

.slots-info .fa-clock {
  margin-left: 10px;
}

.slots-info .fa-rupee-sign {
  margin-top: 5px;
  margin-left: 10px;
}


.free-slots {
  font-family: Anuphan;
  font-size: 24px;
  margin: 0;
  word-wrap: break-word;
}

.change-password {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding: 5px 10px;
  margin-right: 30%;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.change-password .fa-lock {
  margin-top: 5px;
}

.password {
  font-family: Anuphan;
  font-size: 24px;
  margin: 0;
  word-wrap: break-word;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.right-section {
  flex-grow: 1;
  align-self: flex-start;
}

.booking-log {
  font-family: Anuphan;
  margin-left: auto;
}

.booking-log h2 {
  margin-top: 1rem;
  font-size: 50px;
  margin-bottom: 1rem;
}

.log-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.log-list li {
  margin-bottom: 20px;
}

.log-list h3 {
  margin-bottom: 10px;
}

.date-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.date-list li {
  margin-bottom: 10px;
}

.date {
  font-weight: bold;
}

.logs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.logs li {
  margin-bottom: 5px;
}

.list .fas {
  margin-left: 10px;
}

table {
  font-family: Anuphan;
  font-size:20px;
    width: 99%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 1%;
  }

  td {
    text-align: left;
    margin: auto; 
    
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }

  .edit-btn {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
  }

.btn-wrapper{
  display: flex;
  justify-content:flex-start;
  margin: 20px 0;
}

.download-btn {
  font-family: Anuphan;
  text-align: center;
  margin: auto ;
  padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.logo{
  height: 100%;
}

.logo img {
  max-height : 100%;
}

.user-profile table {
  width: 30%;
  align-self: flex-start;
}

.user-p td{
  padding-bottom: 20px;
}

.profile i,
.email-section i,
.slots-info i {
  display: inline-block;
}

.user-name,
.email,
.free-slots {
  display: inline-block;
  vertical-align: middle;
}

.change-password {
  text-align: center;
  margin-top: 20px;
}
