{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login | SPTBI</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="h d-flex align-items-center">
      <div class="logo">
        <a href="{% url 'index' %}">
        <img src="{% static 'assets/logo.png'%}" alt="Logo" />
        </a>
      </div>
      <h2 class="text-center">Appointment Booking</h2>
    </div>
    <div class="login-page">
  <div class="form">
    <form class="login-form" method="POST" action="">
      {% csrf_token %}
      <input type="email" placeholder="Email" name="email"/>
      <input type="password" placeholder="password" name="password"/>
      <button type="submit">login</button>
    </form>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
