{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login | SPTBI</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/site.webmanifest' %}">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="h d-flex justify-content-between align-items-center">
      <div class="logo">
        <a href="{% url 'index' %}">
        <img src="{% static 'assets/logo.png'%}" alt="Logo" />
        </a>
      </div>
  <h2 class="text-center">Booking</h2>
</div>
    <div class="login-page">
  <div class="form">
    <form class="login-form" method="POST" action="">
      {% csrf_token %}
      <input type="email" placeholder="Email" name="email"/>
      <input type="password" placeholder="Password" name="password"/>
      <button type="submit">login</button>
      <div class="msg"> {{msg}} </div>
    </form>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
